# Flutter/Dart/Pub related
.dart_tool/
.packages
build/

# Visual Studio Code
.vscode/

# IntelliJ/Android Studio
*.iml
.idea/

# iOS
ios/Pods/

# Android
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradlew
**/gradlew.bat
**/local.properties
